
body {
    
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;    
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;
}

.padre-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.gen{
    color: white;
    text-decoration: none
}
#navegacion{
    text-align: center;
    text-decoration: none;
}

.logo {
    display: flex;
    margin: 8px;
    font-size: 28px;
    justify-content: center;
    max-width: 100%;
}
h1{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  
}

#logo{
    border-radius: 180px;
}

header.padre-contenedor{
    background-color: rgb(48, 48, 48);
}

ul.opciones{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 85px;
    list-style-type: none;

 

}
.opciones li, form{
    display: inline-block;
    justify-content: space-around;

}
#header{
    width: 100%;
    flex-direction: row;

}
.opciones a{
    text-decoration: none;
    color: white;
}

.series{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
} 

#bb{
    display: inline-block;
    align-items: center;
    margin: 20px;
}


.peliculas{
    display: flex;
    flex-wrap: wrap;
}
.peliculas img{
    margin: 5px;
    width: 200px;
}

.descripcion{
    max-width: 40%;
    display: inline-block;
}
#breakingbad{
    display: flex;
    flex-direction: row;
}
.boton-ver{
    text-decoration: none;
    color: rgb(138, 16, 16);
    background-color: black;
    padding: 7px;
    
}
.boton-buscar{
    padding: auto;
    color: rgb(138, 16, 16);
    background-color: seashell;
}
footer{
    background-color: rgb(138, 16, 16);
    color: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    justify-content: center;

}
#footer{
    display: inline-block;}

.fav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.accion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer{
    display: flex;
    justify-content:space-between;
    margin-left: 10%;
    margin-right: 10%;
}
a{
    color: black;
    text-decoration: none;
}

/*@media(min-width: 768px) 